body {
    margin: 0;
    padding: 0;
    background-image: url(https://thumbs.dreamstime.com/b/fondo-para-el-dise%C3%B1o-gr%C3%A1fico-forma-del-modelo-al-azar-movimiento-web-y-color-113807045.jpg);
}

/* GRID- INDEX */

.lista_nav {
    display: flex;
    list-style: none;
    margin: 0%;
    background-color: rgb(202, 65, 61);
    font-size: 20px;
    justify-content:flex-start ;
}
.menu {
    display: flex;
    list-style: none;
    margin: 0%;
    background-color: rgb(202, 65, 61);
    font-size: 20px;
    justify-content: center;
}

p{
    font-size:  40px;
}

a {
    display: inline;
    flex-direction: row;
    text-decoration: none;
    color: black;
    padding: 20px;
    
}

footer {
    display: flex;
    font-size: 30px;
    background-color: rgb(202, 65, 61);
    
}



.titulo {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to left, rgb(195, 0, 255), rgb(255, 255, 255)) ;
    align-items: flex-end;

}

.imagen {
    display: flex;
    padding-right: 0%;
    justify-content: flex-end;
    margin-top: 15px;
    margin-bottom: 20px;
}

.imagen2 {
    border: rgb(64, 39, 121) solid 15px;
    border-radius: 30px;
}

.texto__centro {
    display: flex;
    justify-content: center;
    margin-left: 2.5rem;
    padding: .3125rem;
    background-image: repeating-linear-gradient(to right,rgb(53, 144, 248),rgb(248, 241, 241));
}
.texto__introduccion {
    background-image: repeating-linear-gradient(to left,rgb(53, 144, 248),rgb(248, 241, 241));
}

.grid__contenedor {
    display: grid;
    grid-template-rows: 3.125rem 9.375rem 31.25rem 21.875rem 25rem 6.25rem; 
}


@media screen and (min-width: 320px) {
    .grid__contenedor {
        grid-template-columns: 1fr;
        
    }
    .imagen {
        display: flex;
        justify-content: flex-start;
        margin-left: 5%;
    }
    
    .texto__introduccion {
        margin-left: 5%;
    }
}

@media screen and (min-width: 1100px) {
        .grid__contenedor {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 3.125rem 9.375rem 34.375rem 25rem 3.125rem;
        justify-content: center;
    }

        .lista_nav {
        grid-row: 1/2;
        grid-column: 1/3;
    }
        
        .titulo { 
            grid-row: 2;
            grid-column-start: 1;
            grid-column-end: 3;
            }

        .imagen {
        grid-row: 3/4;
        grid-column: 1/2;
        
        }

        footer {
            grid-row: 5;
            grid-column-start: 1;
            grid-column-end: 3;
        }

        .texto__introduccion {
            grid-row: 3/4;
            grid-column: 2/3;
        }

        .texto__centro {
        grid-row: 4/5;
        grid-column: 1/2;
        }
        
}

/* GRID GALERIA */

.grid_contenedor2 {
    display: grid;
}

.div_imagen {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Imagen__galeria {
    border: rgb(64, 39, 121) solid 15px;
    border-radius: 30px;
}